In [1]:
# importing the usual needed modules
import pandas as pd

In [2]:
insurance = pd.read_csv("insurance.csv")
insurance.head()

   age     sex     bmi  children smoker     region      charges
0   19  female  27.900         0    yes  southwest  16884.92400
1   18    male  33.770         1     no  southeast   1725.55230
2   28    male  33.000         3     no  southeast   4449.46200
3   33    male  22.705         0     no  northwest  21984.47061
4   32    male  28.880         0     no  northwest   3866.85520

In [3]:
import phik

phik_matrix = insurance.phik_matrix()
phik_matrix

interval columns not set, guessing: ['age', 'bmi', 'children', 'charges']

               age       sex       bmi  children    smoker    region   charges
age       1.000000  0.000000  0.155935  0.316187  0.000000  0.000000  0.724628
sex       0.000000  1.000000  0.000000  0.000000  0.108406  0.000000  0.081934
bmi       0.155935  0.000000  1.000000  0.086769  0.000000  0.269831  0.377421
children  0.316187  0.000000  0.086769  1.000000  0.052318  0.000000  0.033286
smoker    0.000000  0.108406  0.000000  0.052318  1.000000  0.086139  0.962946
region    0.000000  0.000000  0.269831  0.000000  0.086139  1.000000  0.108148
charges   0.724628  0.081934  0.377421  0.033286  0.962946  0.108148  1.000000